.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/src/assets/imgs/bg.png');
  color: #fff;
  max-width: 1920px;
}

.header {
  margin:0 auto;
	width:100%;
	height:65px;
  position: relative;
}

.left_bg {
  width: 62%;
  height: 100%;
  position: absolute;
  right: 0;
  background-position: right;
  background: url("/src/assets/imgs/left_header.png") 0 10px no-repeat;
}

.right_bg {
  width: 53%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/src/assets/imgs/right_header.png") 0 10px no-repeat;
}

.grid {
  display: flex;
  flex: 1;
}

.col1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.col2 {
  flex: 2;
}

.col3 {
  flex: 1;
}
